* {
    margin: 0;
    padding: 0;
}
.top-bar{
    background-color: rgb(253, 240, 223);
    margin:0px auto;
    padding:0px;
    max-width:100%;
}
.top-bar-content{
    margin:0 auto;
    padding:2vw 0vw;
    width:85%;
}
.top-bar-content-flexbox{
    display:flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 10px;
    flex-direction: row;
}
/* .top-bar-content-flexbox-item1{


} */
.top-bar-content-flexbox-item2{
padding:0px 15px;

}

.top-bar-header{
        font-size: 2.6vw;
        font-weight: 700;
        line-height: 1.5;
        padding-top: 8px;
        color: #3b3b3b;
}
.top-bar-header-para{
    font-size: 1.25vw;
    padding-top: 8px;
    line-height: 1.4;
    color: #767676;
}
.span-font{
    font-weight: 600;
    color:rgb(59 59 59);
}
.top-bar-header-hr{
    margin: 1.5vw 0 0.3vw 0;
    border: 1px solid black;
}
.anchorTag-top-bar-header{
    text-decoration: none;
    color:rgb(59 59 59)!important;
    cursor:pointer;

}
.covid-19-top-bar-content{
    padding-top:20px;
    background-color:#fff;
}

.covid-19-header-margin {
        padding: 2vw 0;
        width: 85%;
        margin: 0 auto;
    }

.covid-19-booking-h2{
     font-size: 2.1vw;
    font-weight: 700;
    padding: 1vw 0;
    color: #3b3b3b; 
    margin-bottom: 0.5rem;
    margin-top:0px;
    }

  .people-choice-1mg{
    padding: 1vw 2vw 2vw 2vw;
    background-color: #FDEDBE;
    border-radius: 12px;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 4vw;
}
.people-choice-1mg-img {
    max-width: 17%;
    margin: 0;
}
.people-choice-1mg-text {
    font-size: 1.2vw;
    color: #72582e;
    margin-top: 0.5vw;
}
   





.prepare-panic{
    margin: 0 auto;
    padding: 0 0px;
    max-width: 100%;
    background-color: #FEF7EF;
}
.prepare-panic-header-margin{
    padding: 2vw 0;
    width: 85%;
    margin: 0 auto;
}
.prepare-panic-header-margin-flexbox{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 10px;
}
.prepare-panic-para{
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.prepare-panic-head{
    font-size: 2.6vw;
    font-weight: 700;
    line-height: 1.4;
    padding-top: 8px;
    color: #3b3b3b;
}
.prepare-panic-para{
    font-size: 1.25vw;
    padding-top: 8px;
    line-height: 1.4;
    color: #767676;
}
/* .covid-19-test-bar{
    margin:0px auto;
    padding:0px;
    max-width:100%;
    background-color: #FEF7EF;
}
.covid-19-test-bar-margin{
    padding: 2vw 0;
    width: 85%;
    margin: 0 auto;
} 
*/


/* youtube section */

.youtube-sec-c{
    padding-bottom:40px;
    margin-top:64px;
    margin-bottom:0px;
    margin-left:114px;
    margin-right:114px;
    background-color: rgb(255,240,227);
}
.Qna-on-yt{
    padding:40px 20px 20px 40px;
    margin-bottom:8px;
    font-weight:500px;
    line-height:1.4;
    font-size:2.4vw;
}
.yt-grid1{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:1rem;
    list-style:none;
    padding:0px;
    margin:0px;
}

.yt-grid1-vedio{
    padding-left:40px;
    padding-right:10px;
}
.yt-grid1-vedio-iframe{
    width:100%;
    height:auto;
    min-height: 300px;
    padding:0px;
    margin:0px;
}
.yt-grid1-vedio2{
    padding-left:10px;
    padding-right:40px;
}

.yt-grid2{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:1rem;
    list-style:none;
    padding:0px;
    margin:0px;
}

.yt-grid2-vedio{
    padding-left:40px;
     padding-right:10px;
}

.yt-grid2-vedio-iframe{
    width:100%;
    height:auto;
    min-height: 300px;
    padding:0px;
    margin:0px;
}

.yt-grid2-vedio2{
padding-left:10px;
 padding-right:40px;
}


/* bottom banner section started just inside youtube */
/* 
.banner-margin{
 margin:64px 114px 0px 114px;
}
.banner-margin-insideRadius{
    border-radius: 8px;
    background-color: #fff0e3;
}
.banner-flexbox{
    margin:10px -15px 0px -15px;
    display:flex;
    flex-wrap: nowrap;
}
.banner-alltextArea{
padding-left:15px;
padding-right:15px;
position: relative;
    width: 100%;
    min-height: 1px
    align-self:center!important
}
.banner-heading{
    font-size: 2.2vw;
    padding: 0 0 0 2vw;
    color: #3b3b3b;
    font-weight: 700;
    line-height: 1.4;
}
.banner-text{
    font-size: 1.8vw;
    padding: 0 0 0 2vw;
    color: #3b3b3b;
}
.banner-consultant{
    padding-left: 2vw;
    padding-top: 2vw;
    max-width: 50%;
}
.banner-imgArea{
    padding-left:15px;
    padding-right:15px;
    align-self:center!important;
}
.btnt{
   background-color:rgb(255,111,97);
   border:2px solid grey;
} */