.login-overlay,
.signup-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	cursor: pointer;
	margin: auto;
}

.login-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 500px;
	z-index: 200;

	margin-top: 200px;
}

.left-part {
	height: 100%;
	width: 30%;
	border: 1px solid #cecece;
	border-radius: 10px 0 0 10px;
	box-sizing: border-box;
	padding: 50px;
	border-right: 0;
	background-color: #fff;
}
.right-part {
	padding: 50px;
	height: 100%;
	width: 30%;
	border: 1px solid #cecece;
	border-left: 0;
	border-radius: 0 10px 10px 0;
	box-sizing: border-box;
	background-color: #fff;
}
h5 {
	font-weight: normal;
}
.cross {
	width: 80px;
	float: right;
	cursor: pointer;
	text-align: right;
}
.input-wrapper > input {
	position: relative;
	padding: 12px 0 5px;
	width: 100%;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #d63b1e;
	box-shadow: 0 1px 0 0 #e5e5e5;
	transition: box-shadow 0.15s ease-out;
}
.login-btn {
	border-radius: 10px;
	background-color: #ff6f61;
	padding: 10px;
	/* margin-left: 5px; */
	font-size: 1.2rem;
	text-decoration: none;
	width: 100%;
	text-align: center;
	display: block;
	margin-top: 100px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
}

.bottom-content p {
	text-align: center;
	margin: 0;
	margin-top: 5px;
}
.bottom-content p span {
	color: #ff6f61;
	font-weight: bold;
}

.bottom-content a {
	color: #ff6f61;
	text-decoration: none;
	font-weight: bold;
}

/* Image slider */
#lslider {
	margin: 0 auto;
	width: 800px;
	max-width: 100%;
	text-align: center;
}
#lslider input[type="radio"] {
	display: none;
}
#lslider label {
	cursor: pointer;
	text-decoration: none;
}
#lslides {
	padding: 10px;
	width: 100%;

	position: relative;
	z-index: 1;
}
#loverflow {
	width: 100%;
	overflow: hidden;
}
#lslide1:checked ~ #lslides .linner {
	margin-left: 0;
}
#lslide2:checked ~ #lslides .linner {
	margin-left: -100%;
}
#lslide3:checked ~ #lslides .linner {
	margin-left: -200%;
}
#lslide4:checked ~ #lslides .linner {
	margin-left: -300%;
}
#lslides .linner {
	transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
	width: 400%;
	line-height: 0;
	height: 300px;
}
#lslides .lslide {
	width: 25%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: black;
}
#lslides .lslide_1 {
	background: #fbfbfb;
}
#lslides .lslide_2 {
	background: #fbfbfb;
}
#lslides .lslide_3 {
	background: #fbfbfb;
}
#lslides .lslide_4 {
	background: #fbfbfb;
}
#lcontrols {
	margin: -180px 0 0 0;
	width: 100%;
	height: 50px;
	z-index: 3;
	position: relative;
}
#lcontrols label {
	transition: opacity 0.2s ease-out;
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.4;
}
#lcontrols label:hover {
	opacity: 1;
}
#lslide1:checked ~ #lcontrols label:nth-child(2),
#lslide2:checked ~ #lcontrols label:nth-child(3),
#lslide3:checked ~ #lcontrols label:nth-child(4),
#lslide4:checked ~ #lcontrols label:nth-child(1) {
	background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
	float: right;
	margin: 0 -50px 0 0;
	display: block;
}
#lslide1:checked ~ #lcontrols label:nth-last-child(2),
#lslide2:checked ~ #lcontrols label:nth-last-child(3),
#lslide3:checked ~ #lcontrols label:nth-last-child(4),
#lslide4:checked ~ #lcontrols label:nth-last-child(1) {
	background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
	float: left;
	margin: 0 0 0 -50px;
	display: block;
}
#lbullets {
	margin: 150px 0 0;
	text-align: center;
}
#lbullets label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #ccc;
	margin: 0 10px;
}
#lslide1:checked ~ #lbullets label:nth-child(1),
#lslide2:checked ~ #lbullets label:nth-child(2),
#lslide3:checked ~ #lbullets label:nth-child(3),
#lslide4:checked ~ #lbullets label:nth-child(4) {
	background: gray;
}

#lslides {
	max-width: calc(100% - 140px);
	margin: 0 auto;
}
