form {
	display: inline;
}
ul {
	color: #000;
	font-weight: 400;
	list-style-type: none;
}
a {
	text-decoration: none;
}
.h5font {
	font-size: 30px;
	font-weight: 700px;
}

.footer-container {
	background-color: #fffcf8;
	text-align: center;
	padding: 0;
}
.fColor {
	color: #000;
}
.fsize {
	font-size: 15px;
}
.f_bar-first_child {
	background-color: #fff;
	box-shadow: 2px 0 4px 0 rgb(0 0 0 / 12%);
}
.footer-child1-flex-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: normal;
	justify-content: space-around;
	align-items: normal;
	color: #000;
}
.numberBar {
	font-size: 32px;
	font-weight: 800;
}
.textBar {
	font-size: 16px;
}
.border-btm {
	height: 1px;
	border: 1px solid #eaeaea;
	z-index: 9999;
	width: 90%;
	margin: 24px auto;
	left: 5%;
}
.down-bar___3FV6g {
	padding-bottom: 24px;
	background-color: #fff;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}
.free-text___3jZ7n {
	margin-right: 36px;
}
.f20___2opYM {
	font-size: 22px;
	font-weight: 800;
}
.input-box___7akGm {
	border-radius: 2px;
	border: none;
	display: inline-block;
	box-sizing: border-box;
}
.input-phone___2P9PU {
	height: 40px;
	width: 300px;
	border: none;
	background-color: #f1f4f6;
	padding-left: 15px;
	vertical-align: middle;
	color: #000;
}

.sendLinkButton,
.signUpButton {
	border-radius: 4px;
	background-color: #ff6f61;
	width: 112px;
	height: 40px;
	margin-left: 8px;
	border: none;
	vertical-align: middle;
	color: #fff;
}

.f_bar-second_child-flexContainer {
	display: flex;
	border: 1px solid #ccc;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #fffcf8;
	text-align: left;
}
.main-link-bar___12igi {
	text-align: left;
	justify-content: space-around;
	padding: 44px 17px;
}

.main-content___2sd49 div h3 {
	margin: 27px 0px 16px;
}
.h3_font_style {
	font-size: 20px;
	font-weight: 400;
}
.footer-link a {
	color: #111;
}

.footer_flex_container2 {
	display: flex;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	margin: auto;
	padding: 26px -56px;
	width: 90%;
	text-align: left;
}
.f_bar-third_child-flexContainer {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	text-align: left;
	padding: 26px 56px;
	flex-wrap: wrap;
}
.footer-third-child-content {
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 33%;
	justify-content: center;
}
.f_bar-fourth_child-content {
	padding: 40px auto;
}
.fourth-footer-stamps-bar {
	margin: 0 auto;
	max-width: 43%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	transform: scale(0.8);
}
.legitscript-ukas {
	width: 25%;
	padding: 1rem 0;
}
/* .f_bar-fifth_child-content{

} */

.fourth-footer-text-bar {
	font-size: 16px;
	padding-bottom: 30px;
	font-weight: 700;
}

.f_bar-fifth_child-content {
	text-align: left;
	font-size: 20px;
	color: black;
	/* font-weight: 800; */
}
.f-head___2SFeL {
	border-top: 2px solid rgba(222, 226, 228, 0.21);
	border-bottom: 1px solid rgba(222, 226, 228, 0.21);
	padding: 12px 30px;
	cursor: pointer;
}
.know-text___1bUL7 {
	font-size: 15px;
	padding: 0;
	margin: 0;
	/* font-weight: 800; */
}
.b-collapse___3gaL1 {
	float: right;
}

.f_bar-sixth_child-flexContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: normal;
	justify-content: space-between;
	align-items: normal;
}
.b-text___uV-wn {
	justify-content: space-between;
	padding: 12px 30px 10px;
	border-top: 2px solid rgba(222, 226, 228, 0.21);
	font-weight: 700;
}
.payment {
	padding: 10px;
}
.reliable-png {
	padding: 20px auto;
}
